.container {
    width: 1200px;
    height: 100vh;
}

.options {
    padding-top: 2rem;
    padding-left: 30rem;
}

.input-group {
    width: 30%;
}

.done {
    text-decoration: line-through;
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}